apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ordermonitor

commonLabels:
  app.kubernetes.io/managed-by: kustomize

resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - configmap.yaml
  - secret.yaml
  - hpa.yaml
  - ingress.yaml
